<div class="upbringing">
    <p>I'm a junior at the University of Memphis majoring in Computer Science with an expected graduation of December 2024.<br>
        Currently I'm looking for summertime internships.
        In my freetime I love to bowl, study chess, and read young adult fiction novels.
    </p>
    &nbsp;
    <p>
        I first got interested in programming due to my love for PC gaming; learning what caused the bugs that crashed my games and how to edit my Dark Souls files for infinite souls ended up 
        growing into a love for all things software related. Seeing something I personally wrote grow from a tiny command prompt script into a full blown usable app is nothing short of  breathtaking.
    </p>
</div>