<div class="navbar">
    <div class="site-name">
        <h2>Cody Salerno</h2>
    </div>
    <div class="site-menu">
        <a class="nav-clicks" href="#About">About</a>
        <a class="nav-clicks" href="#Experience">Experience</a>
        <a class="nav-clicks" href="#Work">Work</a>
        <a class="nav-clicks" href="#Demos">Demos</a>
        <a class="nav-clicks" href="#Contact">Contact</a>
    </div>
    <div class="resume-link">
        <a class="resume-click" href="src/assets/CodySalernoResume.pdf">Resume</a>
    </div>
</div>